    <p class="float-right hidden-md-up">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas" (click)="gotoDetail()">Toggle nav</button>
      </p>
      <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
      </div>

      <div class="row">
        <div *ngFor="let product of newestProducts" class="col-6 col-lg-4">
          <h2>{{product.name}}</h2>
          <p>{{product.description}}</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div><!--/row-->


