<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md fixed-top">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleContainer" aria-controls="navbarsExampleContainer" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/home">{{'application' | translate}}</a>

    <div class="collapse navbar-collapse" id="navbarsExampleContainer">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a routerLink="/home" routerLinkActive="active" class="nav-link" >{{'home' | translate}} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a routerLink="/about" routerLinkActive="active" class="nav-link" >{{'about' | translate}}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{currentLanguageName}}</a>
          <div class="dropdown-menu" aria-labelledby="dropdown02">
            <a *ngFor="let lang of supportedLanguages" class="dropdown-item" (click)="selectLang(lang.value)">{{ lang.display }}</a>
          </div>
        </li>

      </ul>
      <form class="form-inline my-2 my-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="{{'search' | translate}}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{'search' | translate}}</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">

  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-12 col-md-9">
      <router-outlet></router-outlet>
    </div>
    <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
        <a href="#" class="list-group-item active">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
      </div>
    </div><!--/span-->
  </div><!--/row-->



  <hr>

  <footer>
    <p>&copy; Company 2017</p>
  </footer>

</div><!--/.container-->


